#backround {
  height: 725px;
  width: 50%;
  background-color: powderblue;
}
body {
    background-color: #f79ce8;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
nav a: hover {
    text-decoration: none;
    color: #489e1c;
    text-align: center;
    padding: 35px;
}

header {
    background-color:rgba(20,30,13, .7);
}

}
nav a {
    text-decoration: none;
    color: #489e1c;
    text-align: center;
    padding: 35px;
}
}    
icon {
    width: 1600px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
 
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
.book, .join {
    background-color: #380d05;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}