/******************************************************************************
START grid layout extra credit
******************************************************************************/

* {
  box-sizing: border-box;
}
.grid1 {
  display: grid;
  padding-top: 2em;
  text-align: center;
 
  
}

.grid1 h1 {
  
}

.grid2 {
  padding: 1rem;
  
}
.grid2 h2 {
  
}
.grid3 {
  
}

.grid3 h3 {
  
}

.grid4 {
  
}

.grid4 h2 {
  
}

section {
  
}

section h2 {
  
}

form {
    grid-template-columns: 6 columns (1fr 5fr;
  
  
}


legend {
  font-size: 20px;
  font-weight: 700;
}

fieldset > div {
  display: grid;
  grid-template-columns: (1fr 2fr);
  grid-gap: 0 1em;
    
  
  
}

label {
  align-items: right;
  
}

input {
  align-items: left;
  width: 100%;
  
}

button {
  display: grid;
  padding-top: 2em;
  
}

section > div {
  
}
