#body {
background-color: #bfdbf7;
color: #ffffff;
font-size: 22px;
margin: 0;
padding: 0;
font-family: 'Noto Serif', serif

}

h1, h2, h3, h4, h5 h6 {
font-family: 'Tilt Prism', cursive;
}

#content{
margin: 0 auto;
max-width: 1600px;
}

#logo_link {
justify-self: center;
}

.logo {
width: 80px;
}
}

header {
background-color: #bd222a;
color: brown;
display: grid;
grid-template-columns: 150px auto;
grid-template-rows: 150px auto;
background-color: #bd222a;
align-items: center;


}
nav {
display: flex;
justify-content: space-around;
}
nav a{
display: grid;
text-align: center;
color: #000;
justify-self: stretch ;
font-size:1.5em;
text-decoration: none;
padding: 35px;
}
nav a:hover {
background-color: #bfdbf7 ;
color: brown;
}


.background {
height: 725px;
width: 200px
background-color: rgb(146, 14, 14);
color: aliceblue;
grid-column: 1/11;
grid-row: 4/9;
}
main section{
text-align: center;
}
main section img {
box-sizing: border-box;
}


#one-msg h1,
#one-msg h2,
#one-msg h3,
#one-msg h4 {
text-align: center;
color: white;
}

.go {
background-color: #053c5e;
box-shadow: 5px 5px 10px #6f7364;
padding: 15px ;
margin: 10px;
}
.go img {
display: block;
width: 100%;
height: auto;
}
.ho p{
Float: center;
}

.tech {
background-color: #db222a;
box-shadow: 5px 5px 10px #6f7364;
padding: 15px ;
margin: 10px;
width: 50%; 
height: 200vh; 
display:flex;
position: relative; 
float: right; 

}
.tech img {
display: block;
width: 100%;
height: auto;
}
tech p {
float: center ;
}
.stairs {
background-color: #053c5e;
grid-column: 2/7;
grid-row: 5/8;
box-shadow: 5px 5px 10px #6f7364;
padding: 15px ;
margin: 10px;
height: 200vh;
display: flex;
position: absolute;
float: left; 
}
.stairs img {
display: block;
width: 100%;
height: auto;
}
.stairs p{
Float: center ;
}

.happy {
background-color: #a31621;
grid-column: 2/7;
grid-row: 5/8;
box-shadow: 5px 5px 10px #6f7364;
padding: 15px ;
margin: 10px;
}
.happy img {
display: block;
width: 100%;
height: auto;
}
.happy p{
Float: center;
}

footer {
display: grid;
grid-template-columns: 150px auto;
grid-template-rows: 150px auto;
background-color: #053c5e;
color: aliceblue;
font-size: 1.2rem;
padding:15px ;
margin: 5px;
align-items: center;
text-align: center;
}
footer .social img {
padding-top: 15px;
margin: 10px;
width: 50px;
align-items: center ;
margin: 0;
padding:0;
}
footer a {
color: azure;
text-decoration: none;

}
footer p a:hover {
background-color: rgb(46, 11, 11);
color: rgb(221, 217, 217);
text-decoration: underline;
}
{
    
    margin: 0 auto;
    max-width: 1600px;
}

.logo {
    width: 80px;
}
}
#one-msg h1,
#one-msg h2,
#one-msg h3,
#one-msg h4 {
    text-align: center;
	  color: white;
}
nav a{
    display: grid; 
    text-align: center;
    text-color: #000; 
    justify-item: center;
    justify-self: stretch ; 
    font-size:50px; 
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #bfdbf7 ;
    color: brown;
}
nav {
	display: flex;
	justify-content: space-around;
}
header { 
   display: grid;
   grid-template-columns: 150px auto;
   grid-template-rows: 150px auto;
   background-color: #bd222a;
   color: brown;
   width: 200%;
   padding: 20px;
   margin: 10px; 
   
}
.background {
    height: 725px;
    width: 200px
    background-color: rgb(146, 14, 14);
    color: aliceblue;
    grid-column: 1/11;
    grid-row: 4/9;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

body {
    background-color: #bfdbf7;
    width: 200%; 
    color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif

}

.go {
  background-color: #053c5e;
  width: 200%;
  grid-template-colums: 150px;
  grid-row-template-rows: 150px;
  box-shadow: 5px 5px 10px #6f7364;
  padding: 15px ;
  margin: 10px;
}
.go img {
  display: block;
  width: 100%;
  height: auto;
}
.go p{
 Float: center;
}



.tech {
   background-color: #db222a;
   width: 100%;
   display: grid;
   grid-column: 2/7;
   grid-row: 5/15;
   justify-item: center; 
   justify-content: center; 
   box-shadow: 5px 5px 10px #6f7364; 
   padding: 15px ;
   margin: 10px;
   height: 200vh; 
   display: felx; 
   align-item: center; 
   
   
}
.tech img {
  display: block;
  width: 100%;
  height: auto;
 
}
.tech p{
   float: center ;
}
.stairs {
   background-color: #053c5e;
   width: 100%;
   height: 100%;
   display: grid;
   grid-column: 2/7;
   grid-row: 5/15;
   justify-item: center; 
   justify-content: center; 
   box-shadow: 5px 5px 10px #6f7364; 
   padding: 15px ;
   margin: 10px;
   height: 200vh; 
   display: felx; 
   align-item: center; 
   justify-content: center; 
    
}
.stairs img {
  display: block;
  width: 100%;
  height: auto;
}
.stairs p{
 Float: center ;
}

.happy  {
  background-color: #a31621;
  width: 200%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
  padding: 15px ;
  margin: 10px;
  
}
.happy img {
  display: block;
  width: 100%;
  height: auto;
}
.happy p{
 Float: center;
}

footer {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px auto;
    background-color: #053c5e;
    color: aliceblue;
    width: 200%; 
    font-size: 1.2rem;
    padding:15px ;
    margin: 5px;
    align-items: center;
    text-align: center; 
}
footer .social img {
    padding-top: 15px;
    margin: 10px;
    width: 50px;
    align-items: center ;
    margin: 0;
    padding:0;
}
footer a {
    color: azure;
    text-decoration: none;

}
footer p a:hover {
    background-color: rgb(46, 11, 11);
    color: rgb(221, 217, 217);
    text-decoration: underline;
}


