#content{
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 80px;
}
}
#one-msg h1,
#one-msg h2,
#one-msg h3,
#one-msg h4 {
    text-align: center;
	  color: white;
}
nav a{
    display: grid; 
    text-align: center;
    text-color: #000; 
    justify-item: center;
    justify-self: stretch ; 
    font-size:50px; 
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #bfdbf7 ;
    color: brown;
}
nav {
	display: flex;
	justify-content: space-around;
}
header { 
   display: grid;
   grid-template-columns: 150px auto;
   grid-template-rows: 150px auto;
   background-color: #bd222a;
   color: brown;
   width: 300%;
   padding: 20px;
   margin: 10px; 
   
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

body {
    background-color: #bfdbf7;
    color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif

}

.one {
  background-color: #21541d;
  width: 300%;
  grid-template-colums: 150px;
  grid-row-template-rows: 150px;
  box-shadow: 5px 5px 10px #6f7364;
  padding: 15px ;
  margin: 10px;
}
.one img {
  display: block;
  width: 100%;
  height: auto;
}
.one p{
 Float: center;
}

.road {
   background-color: #161933;
   width: 100%;
   grid-column: 2/7;
   grid-row: 5/8;
   box-shadow: 5px 5px 10px #6f7364; 
   padding: 15px ;
   margin: 10px;
}
.road img {
  display: block;
  width: 100%;
  height: auto;
}
road p {
   float: center ;
}
.k {
  background-color: #331616;
  width: 300%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
  padding: 15px ;
  margin: 10px;
}
.k img {
  display: block;
  width: 100%;
  height: auto;
}
.k p{
 Float: center ;
}

.ladder  {
  background-color: #291633;
  width: 300%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
  padding: 15px ;
  margin: 10px;
}
.ladder img {
  display: block;
  width: 100%;
  height: auto;
}
.ladder p{
 Float: center;
}

footer {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px auto;
    background-color: #053c5e;
    color: aliceblue;
    width: 300%; 
    font-size: 1.2rem;
    padding:15px ;
    margin: 5px;
    align-items: center;
    text-align: center; 
}
footer .social img {
    padding-top: 15px;
    margin: 10px;
    width: 50px;
    align-items: center ;
    margin: 0;
    padding:0;
}
footer a {
    color: azure;
    text-decoration: none;

}
footer p a:hover {
    background-color: rgb(46, 11, 11);
    color: rgb(221, 217, 217);
    text-decoration: underline;
}
