nav a{
    display: grid; 
    text-align: center;
    justify-item: center;
    justify-self: stretch ; 
    font-sixe:50px; 
}
nav a:hover {
    background-color: #bfdbf7 ;
    color: brown;
}
nav {
	display: flex;
	justify-content: space-around;
}
.one {
  grid-area: main;
}
.road{
  grid-area: main;
}
.k {
  grid-area: main;
}
.{
  grid-area: sidebar;
}
.ladder {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main”
    “main . sidebar"
    “main”
    "footer footer footer footer";
}